@attribute [AllowAnonymous]
@inject NavigationManager NavigationManager

<p>You're being redirected to the login page.</p>

@code {
    protected override void OnAfterRender(bool firstRender)
    {
        if (firstRender)
        {
            NavigationManager.NavigateTo("Identity/Account/Login", true);
        }
    }
}