@using System.Security.Claims
<Menu Theme="MenuTheme.Dark" DefaultSelectedKeys=@(new[]{"1"}) Mode="MenuMode.Inline">
    <MenuItem Key="1">
        <NavLink class="nav-link" href="/">
            <Icon Type="home" Theme="outline" />
            <span>Home</span>
        </NavLink>
    </MenuItem>
    <MenuItem Key="2">
        <NavLink class="nav-link" href="user">
            <Icon Type="user" Theme="outline" />
            <AuthorizeView>
                <Authorized>
                    <span>@context.User.GetNickname()</span>
                </Authorized>
                <NotAuthorized>
                    <span>Login</span>
                </NotAuthorized>
            </AuthorizeView>
        </NavLink>
    </MenuItem>
     <MenuItem Key="3">
        <NavLink class="nav-link" href="users">
            <Icon Type="usergroup-delete" Theme="outline" />
            <span>Users</span>
        </NavLink>
    </MenuItem>
    <MenuItem Key="4">
        <NavLink class="nav-link" href="managebot">
            <Icon Type="desktop" Theme="outline" />
            <span>Manage Bot</span>
        </NavLink>
    </MenuItem>
</Menu>