@page
@using System.Security.Claims
@model IndexModel
@{
    ViewData["Title"] = "Profile";
    ViewData["ActivePage"] = ManageNavPages.Index;
}

<h3>@ViewData["Title"]</h3>
<partial name="_StatusMessage" for="StatusMessage" />
<div class="row">
    <div class="col-md-6">
        <form id="profile-form" method="post">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-floating">
                <div>
                    <label asp-for="Username" class="form-label"></label>
                    <input asp-for="Username" class="form-control" disabled />  
                </div>
                <div>
                    <label asp-for="Nickname" class="form-label"></label>
                    <input asp-for="Nickname" class="form-control" disabled />
                </div>
                <p>This data is fetched from Discord and will update when loggin in.</p>
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}

