@page "/about"
<PageTitle>About</PageTitle>
<div class=page-header>
    <h2>About</h2>
</div>

<BSAccordion>
    <BSAccordionItem DefaultShown="false" AlwaysOpen="false">
        <Header>App Info</Header>
        <Content>
            <ul>
                <li>Version: <AppVersion/></li>
            </ul>
        </Content>
    </BSAccordionItem>
</BSAccordion>
