@page "/dashboard"
@attribute [Authorize(Policy = "CommunityOnly")]

<BSContainer>
    <BSRow Align="Align.Default">
        <BSCol ColumnMedium="8">
            <div class="dashboard-welcome">
                <h2>Welcome to Saffron</h2>
                <div class=dashboard-welcome-banner>
                    <BSImage Source="images/saffron-banner-1.jpg" IsFluid="true" />
                </div>
            </div>
            <div class=dashboard-content>
                <div class="dashboard-saffron-latest">
                    <h4>Latest from Saffron</h4>
                    <div class="dashboard-saffron-latest-content">
                        <p>
                            Hi!
                        </p>                 
                    </div>
                </div>
                <div class="dashboard-announcements-latest">
                    <h4>Latest from #announcements</h4>
                    <ChannelMessages ChannelId="456093980430696449" Limit="1" />
                </div>
            </div>
        </BSCol>
        <BSCol ColumnMedium="4">
            <div class="dashboard-widget">
                <Events></Events>
            </div>
            <div class="dashboard-widget">
                <BirthdayWidget></BirthdayWidget>
            </div>
        </BSCol>
    </BSRow>
</BSContainer>



@code {

}
