@page "/dashboard"
@attribute [Authorize(Policy = "CommunityOnly")]

<BSContainer>
    <BSRow Align="Align.Default">
        <BSCol ColumnMedium="8">
            <div class="dashboard-welcome">
                <h2>Welcome to Saffron</h2>
                <div class=dashboard-welcome-banner>
                    <BSImage Source="images/saffron-banner-1.jpg" IsFluid="true" />
                </div>
            </div>
            <div class=dashboard-content>
                <div class="dashboard-saffron-latest">
                    <h4>Latest from Saffron</h4>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                </div>
                <div class="dashboard-announcements-latest">
                    <h4>Latest from #announcements</h4>
                    <p>"Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum."</p>
                </div>
            </div>
        </BSCol>
        <BSCol ColumnMedium="4">
            <div class="dashboard-events">
                <Events></Events>
            </div>
        </BSCol>
    </BSRow>
</BSContainer>



@code {

}
