@page "/"
@inject NavigationManager NavigationManager

<div class="homepage">
    <div class="homepage-welcome">
        <h1>Welcome to Saffron!</h1>
        <div class=homepage-welcome-banner>
            <BSImage Source="700x200xResponsive image" IsFluid="true" IsPlaceholder="true" />
        </div>
    </div>
    <div class="homepage-content">
        <AuthorizeView>
            <Authorized>
                <p>There is still plenty of work to be done, but take a look around!</p>
            </Authorized>
            <NotAuthorized>
                <p>Please login to continue.</p>
                <BSButton Color="BSColor.Dark" Size="Size.ExtraExtraLarge" OnClick="OnRedirectToLogin">Login with discord</BSButton>
            </NotAuthorized>
        </AuthorizeView>
    </div>
</div>

@code {
    private void OnRedirectToLogin()
    {
        NavigationManager.NavigateTo("Identity/Account/Login", true);
    }
}

